/* Josefina Sans, font imported from Google */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

/* browsers soft reset */
* {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}
/*copypaste #dc3545 danger color code
*/

/* top-left burger menu */
#main-menu-btn {
    border-style: none;
    color:#fff;
    font-size: 2rem;
}
#main-menu-btn:hover {
    color: #dadada;
}
/*top center brand logo*/
#pizza-logo {
    height: 4.25rem;
}
/* location pin style and hover animation */
#location-finder {
    font-size: 1.8rem;
    color: #fff;
    margin: 2px;
}
#location-finder:hover {
    color: rgb(204, 203, 203);
}
/* More style for the main menu modal*/
#offcanvasNavbar {
    border-radius: 0.5rem;
    height: 60vh;
    width: 40vw;
    line-height: 2rem;
    margin: 1rem;
}
/* White text for the sidebar links and hover effect*/
#offcanvasNavbar a {
    color: #fff;
    font-size: 1.3rem;
}

#offcanvasNavbar a:hover {
    background-color: rgb(243, 130, 130);
}

/* Central hero img style and setup */
#hero-banner {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Used "linear-gradient" to add a brigther effect and
    for better readability */
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("hero-image/hero-image-1.jpg");
    /* Position and center the image to scale in all sizes */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*
    Credit for photos used, from Pexels
    1: Pimon Kumsri: https://www.pexels.com/es-es/foto/comida-pizza-delicioso-sabroso-13472737/
    2: David Levinson: https://www.pexels.com/es-es/foto/comida-pizza-restaurante-delicioso-14520442/
    3: David Levinson: https://www.pexels.com/es-es/foto/comida-pizza-restaurante-cocinando-14520444/
    (not used)
    6: Foto de Cats Coming: https://www.pexels.com/es-es/foto/mariscos-pizza-queso-derretido-365459/
    */
}

#hero-text {
    transform: translate(50px, -50px);
    color: #fff;
    font-size: 5rem;
}

#view-food-menu {
    font-size: 1.2rem;
    transform: translate(-175%, 50%);
}

/* additional style for btn-warning */
.btn-warning {
    background-color: orange;
    border: transparent;
    font-size: 1.3rem;
}

.btn-warning:hover {
    background-color: rgb(253, 195, 88);
}
/* Only for the nav button */
.order-now-btn {
    width: 8rem;
    font-size: 1.3rem;
}
/* Used only on Pizza slogan, took it out
.text-strip-header {
    color: #fff;
    text-align: center;
    opacity: 0.8;
    border-radius: 10px;
    padding: 8px;
}
*/
/* wrapper for the image that is going to rotate  */
.pizza-slogan {
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    opacity: 0.8;
    border-radius: 8px;
    font-size: 1.75rem;
    padding: 15px;
}
#pizza-animation-container {
    height: 70vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* CONTAINER bg img */
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(hero-image/hero-image-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* Animation panel that contains a rotating pizza element*/
/* the _show-element Class connects to app.js to apply 
    animation on scroll and resets when unfocused
    */
#animation-template, .show-element {
    box-sizing: content-box;
    height: 25rem;
    max-width: 50rem;
    animation-name: zoomInPizza, rotatingPizza;
    animation-duration: 500ms, 15s;
    animation-iteration-count: 1, infinite;
    animation-timing-function: ease-in;
    /*animation-play-state: paused;*/
    
    /*
    Rotatin shorthand
    animation: rotatingPizza 30s ease infinite;
    ZoomIn shorthand
    animation: zoomInPizza 3s ease;
    */
}

@keyframes rotatingPizza {
    100% {transform: rotate(180deg);}
}

@keyframes zoomInPizza {
    0% {
        transform: scale(0.1);
    }
    /*
    25% {
        transform: scale(0.3);
    }
    50% {
        transform: scale(0.5);
    }
    75% {
        transform: scale(0.75);
    }
    */
    100% {
        transform: scale(1);
    }
    
}

#info-section {
    height: 70vh;
    display: flex;
    color: #fff;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(197, 1, 1, 0.15)), url(hero-image/hero-image-3.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

#info-section h3 {
    font-size: 2.5rem;
}
/* SHOULD STACK VERTICALLY WHEN SCREEN IS SMALL*/
#maps-section {
    width: 50vw;
}
/* Map iframe style */
#mapCanvasStores iframe {
    border-radius: 5px;
    width: 44vw;
    height: 45vh;
    border: 0;
}

#reviews-section {
    width: 50vw;
}
/* add a dark mid opacity background with rounded corners
for better readability */
.carousel-item {
    background-color: #dc3545;
    opacity: 0.85;
    border-radius: 10px;
    height: 45vh;
    padding-top: 10px;

}

.carousel-item p {
    margin: 0 auto;
    /*min-height: 40vh;*/
    font-size: 0.8rem;
    line-height: 2rem;
    font-family: monospace, sans-serif;
}

#footer {
    color: #fff;
    height: fit-content;
    /* FIX this to appear 100vw not that value*/
    background-color: #dc3545; /*danger color code*/
}
#footer a {
    border: none;
    margin: 5px 5px;
    border-radius: 50%;
}


/* To prevent animation stacking with Reducen Motion users  */
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media screen and (max-width: 760px) {

    /* More style for the main menu modal*/
    #offcanvasNavbar {
        border-radius: 0.5rem;
        width: 50vw;
        line-height: 1.5rem;
        margin: 0.5rem;
        }

    #view-food-menu {
        font-size: 0.8rem;
        transform: translate(-170%, 150%);
    }

    /*additional style for center food menu modal*/
    #pizza-type-menu-img {
        display: none;
    }

    #info-section {
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    /* Maps, and reviews are stacked vertically and
    span the full width for smaller screens */

    #reviews-section, #maps-section {
        margin-top: 20px;
        width: 95vw;

    }

    #reviews-section {
        margin: 0 auto;
        padding: 6px;
        width: 82vw;
        margin-bottom: 12px;
    }
    #mapCanvasStores iframe {
        width: 80vw;
        margin-left: 24px;
    }

    /* animation text companion gets smaller and positions
        under it
    */
    .pizza-slogan {
        box-sizing: border-box;
        color: #fff;
        opacity: 0.8;
        border-radius: 8px;
        font-size: 1.25rem;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    #animation-template {
        margin-top: 34px;
        box-sizing: border-box;
        height: 20rem;
        max-width: 20rem;
        animation-name: rotatingPizza;
        animation-duration: 10s;
        animation-iteration-count: 2;
        animation-timing-function: ease-in;
        /* To add a slight pause after the between animations*/
        animation-delay: 200ms;
        
        /*
        Rotatin shorthand
        animation: rotatingPizza 30s ease infinite;
        ZoomIn shorthand
        animation: zoomInPizza 3s ease;
        */
    }
}